html, body {
  height: 100%;
  background-color: darkgrey;
}
body {
  display: flex;
  flex-direction: column;
}
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.modal-header {
  padding: 2px 16px ;
  background-color: #999;
  color: black;
  font-size: 16;
}
.modal-body {
  padding: 2px 16px;
}
.content {
  flex: 1 0 auto;
}
.modal-content {
  position: relative;
  background-color: #bbb;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}
#inputtxt {
    width: 100%
}
.close {
  color: #000;
  float: right;
  font-size: 16px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: #555;
  text-decoration: none;
  cursor: pointer;
}

@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
.section-header {
  padding: 2px 16px ;
  background-color: #ccc;
  color: black;
  font-size: 16;
}
#footer {
    position: relative;
    overflow: hidden;
}
.wrap {
    position: relative;
    margin: 0 auto;
    padding-bottom: 5px;
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;

}
.Fsectionl {
    float: left;
    width: 20%;
}
.Fsectionr {
    float: right;
    text-align: end;
    width: 20%;
}
.Fsectionc {
    overflow: hidden;
    text-align: center;
}
.limits {
    text-align: center;
}
/*this is the W3Schools implementation of the tooltip */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 360px;
  background-color: #ccc;
  color: #000;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}
.dropdown {
  position: relative;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  min-width: 150px;
  z-index: 1;
}
.dropdown-content input {
  color: black;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdown-content {display: block;}

.Section {
    padding: 10px;
    
}
/*disables the scroll buttons in number fields*/
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
